<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="bower_components/backbone.marionette/lib/backbone.marionette.min.js"></script>
	<script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.min.css">
	<script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
</head>
<body>
	<div id="main-region">
	</div>

	<script type="text/template" id="contact-list-item">
		<p><%= firstName %> <%= lastName %></p>
	</script>

	<script type="text/javascript">
		var ContactManager = new Marionette.Application();

		ContactManager.addRegions({
			mainRegion: '#main-region'
		});

		ContactManager.Contact = Backbone.Model.extend({
			defaults: {
				firstName: '',
				phoneNumber: 'No phone number'
			}
		});

		ContactManager.ContactItemView = Marionette.ItemView.extend({
			events: {
				'click p': 'alertPhoneNumber'
			},
			tagName: 'li',
			template: '#contact-list-item',
			alertPhoneNumber: function() {
				alert(this.model.escape('phoneNumber'));
			}
		});

		ContactManager.ContactsView = Marionette.CollectionView.extend({
			tagName: 'ul',
			childView: ContactManager.ContactItemView
		});

		ContactManager.ContactCollection = Backbone.Collection.extend({
			model: ContactManager.Contact,
			comparator: 'firstName'
		});


		ContactManager.on('start', function() {
			var conts = [
				{
					firstName: 'david',
					lastName: 'van'
				},
				{
					firstName: 'Bob',
					lastName: 'Brigham',
					phoneNumber: '66998877'
				}
			]
			
			var contacts = new ContactManager.ContactCollection(conts);
			console.log(contacts);
			
			var contactsListView = new ContactManager.ContactsView({
				collection:contacts
			});


			ContactManager.mainRegion.show(contactsListView);
		});

		ContactManager.start();
	</script>
</body>
</html>