<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="bower_components/backbone.marionette/lib/backbone.marionette.min.js"></script>
	<script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.min.css">
	<script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
</head>
<body>
	<div id="main-region">
		<p>fjdsklfjl</p>
	</div>

	<script type="text/template" id="list-item-template">
		<li>one item</li>
	</script>

	<script type="text/template" id="static-template">
		<p>this s tatic template</p>
	</script>

	<script type="text/template" id="contact-template">
		<p><%= firstName %> <%= lastName %></p>
	</script>
	<script type="text/javascript">
		var ContactManager = new Marionette.Application();

		ContactManager.addRegions({
			mainRegion: '#main-region'
		});

		ContactManager.StaticView = Marionette.ItemView.extend({
			id: 'static-view',
			tagName: 'ul',
			template: '#list-item-template'
		});

		ContactManager.Contact = Backbone.Model.extend({});

		ContactManager.ContactView = Marionette.ItemView.extend({
			template: '#contact-template'
		});

		ContactManager.on('start', function() {
			var staticView = new ContactManager.StaticView();
			//ContactManager.mainRegion.show(staticView);

			var alice = new ContactManager.Contact({
				firstName: 'alice',
				lastName: 'arten',
				phoneNumber: '555-668899'
			});

			var aliceView = new ContactManager.ContactView({
				model: alice
			});
			ContactManager.mainRegion.show(aliceView);
		});

		ContactManager.start();
	</script>
</body>
</html>