<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
	<script src="bower_components/spin.js/jquery.spin.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="bower_components/backbone.marionette/lib/backbone.marionette.min.js"></script>
	<script src="bower_components/backbone.syphon/lib/backbone.syphon.min.js"></script>
	<script src="bower_components/backbone-validation/dist/backbone-validation.js"></script>


	<script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.min.css">
	<script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
</head>
<body>
	<div id="main-region">
	</div>

	<div class="ui modal" id="modal-region">
	  <i class="close icon"></i>
	  <div class="header">
	    <%= title %>
	  </div>
	  <div class="content">
	    <div class="ui medium image">
	      <img src="/images/avatar/large/chris.jpg">
	    </div>
	    <div class="description">
	      <%= content %>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui black button">
	      Nope
	    </div>
	    <div class="ui positive right labeled icon button">
	      Yep, that's me
	      <i class="checkmark icon"></i>
	    </div>
	  </div>
	</div>

	<script type="text/template" id="contact-list-layout">
		<div id="panel-region"></div>
		<div id="contacts-region"></div>
	</script>

	<script type="text/template" id="contact-list-panel">
		<div class="ui button">
		  <i class="user icon jsNew"></i>
		  New contact
		</div>
	</script>

	<script type="text/template" id="contact-list-item">
		<td><p><%= firstName %></td>
		<td> <p><%= lastName %></p></td>
		<td>
			<a href="#contacts/<%= id %>/edit" class="ui icon button jsEdit">
			  <i class="pencil icon"></i>
			</a>
			<a href="#contacts/<%= id %>" class="ui icon button jsShow">
			  <i class="search icon"></i>
			</a>
			<div class="ui icon button jsDelete">
			  <i class="trash icon"></i>
			</div>
		</td>
	</script>

	<script type="text/template" id="contact-list">
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</script>

	<script type="text/template" id="contact-form">
	<form class="ui form">
		<h4 class="ui dividing header">Edit <%= firstName %> <%= lastName %></h4>
	 
	    <div class="field">
	      <label>First Name</label>
	      <input placeholder="First Name" type="text" value="<%= firstName %>" name="firstName">
	    </div>
	    <div class="field">
	      <label>Last Name</label>
	      <input placeholder="Last Name" type="text" value="<%= lastName %>" name="lastName">
	    </div>
	    <div class="field">
	      <label>Phone number</label>
	      <input placeholder="Phone number" type="text" value="<%= phoneNumber %>" name="phoneNumber">
	    </div>
	    <div class="ui submit button jsSubmit">Save</div>
	  </form>		  
	</script>

	<script type="text/template" id="contact-view">
		<h1><%= firstName %> <%= lastName %></h1>
		<a href="#contacts/<%= id %>/edit" class="ui icon button jsEdit">
			  <i class="pencil icon"></i>
			</a>

		<p><strong>Phone number:</strong> <%= phoneNumber %></p>
	</script>

	<script type="text/template" id="loading-view">
		<h1><%= title %></h1>
		<p><%= message %></p>
		<div id="spinner"></div>
	</script>

	<script type="text/template" id="missing-contact-view">
		<div class="ui warning message">
		  <i class="close icon"></i>
		  <div class="header">
		    Contact not found
		  </div>
		  This contact doesn't exist
		</div>
	</script>

	<script type="text/javascript" src="js/region_modal.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/common_views.js"></script>

	<script type="text/javascript" src="js/entities/contact.js"></script>

	<script type="text/javascript" src="js/contacts_app.js"></script>
	<script type="text/javascript" src="js/list_view.js"></script>
	<script type="text/javascript" src="js/list_controller.js"></script>
	<script type="text/javascript" src="js/show_view.js"></script>	
	<script type="text/javascript" src="js/show_controller.js"></script>
	<script type="text/javascript" src="js/edit_view.js"></script>
	<script type="text/javascript" src="js/edit_controller.js"></script>
	<script type="text/javascript" src="js/new_view.js"></script>

	

	<script type="text/javascript">
		ContactManager.start();
	</script>
</body>
</html>